{
    "plugins": [
        ["transform-react-jsx", { "pragma": "h" }]
    ],
    "presets": [
        ["@babel/preset-env", {"targets": {
            "browsers": ["last 2 Firefox versions", "last 2 Chrome versions"]
        }}]
    ]
}
