<!doctype html>

<head>
  <title>Recipe goes here</title>
  <script src="/build/view_recipe.js"></script>

  <meta charset="utf-8">

  <style>
   * {
       font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
       color: #222;
       line-height: 1.5em;
   }
   body { background-color: white; }
   main {
       margin: 0 auto;
       max-width: 70ch;
   }
   h1 { text-align: center; }

   .instruction {}
  </style>
</head>

<body>
</body>
