:root {
    --base-font-size: 115%;
}

body {
    font-family: Charter, Optima, Georgia, serif;
    color: #333;
    line-height: 1.6;
    font-size: var(--base-font-size);
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
}

