.grid {
    display: grid;
}

@media (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 3em;
    }

    #left {
        grid-column: 1;
        min-width: 30ch;
    }

    #right {
        grid-column: span 5;
    }
}

@media (max-width: 700px) {
    #right {
        grid-row: 1;
        grid-column: auto;
    }

    #left {
        grid-row: 2;
        grid-column: auto;
    }
}

