@import 'recipe.css';

h1 {
    text-align: center;
    margin: 1em;
}

li > input[type="checkbox"] {
    vertical-align: middle;
    height: 100%;
    margin-right: 1em;
}

li > img {
    flex-shrink: 1;
    width: 5em;
    height: 100%;
    object-fit: cover;
}

li > p {
    flex-grow: 2;
    margin: 1em;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 5em;
    margin-bottom: 1em;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#root {
    margin: 0.25em;
}

form label, form button {
    font-family: sans;
    font-size: 0.8rem;
    height: auto;
}

#tools {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#tools label, #tools button {
    color: black;
    background-color: #cccccc;
    border: 1px solid #dddddd;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-right: 0.25em;
}

#tools label:hover, #tools button:hover {
    background-color: #eeeeee;
    border-radius: 0.25em;
    border-opacity: 0;
}

#tools label:active, #tools button:active {
    background-color: black;
    color: white;
    border-radius: 0.25em;
    border-opacity: 0;
}


#tools input[type="file"] {
    opacity: 0;
}

#search {
    display: flex;
    flex-direction: column;
}

#searchFilter {
    margin-top: 0.25em;
    width: 100%;
}

#searchOptions {
    display: flex;
    flex-direction: row;
}
