@import 'base.css';
@import 'grid.css';

@media print {
    body {
        font-size: 14px;
        line-height: 1.2;
        color: #222;
    }
    img { display: none; }
}

.strikethrough {
    text-decoration: line-through;
    color: hsl(0, 0%, 55%);
}

.ingredient {
    cursor: pointer;
    list-style: none;
    transition: color linear var(--slow-transition-time);
    margin-bottom: 0.4em;
}

/* Prevent click handlers from striking the wrong part of the ingredient */
.ingredient * {
    pointer-events: none;
}

.instruction {
    margin-bottom: 1.2em;
    transition: padding-left ease-in-out var(--fast-transition-time);
}

.highlight {
    border-left: 5px solid var(--accent-color);
    padding-left: 1em;
    list-style: none;
}

#byline {
    color: var(--info-text-color);
}

#description {
    display: flex;
}

@media screen {
    #description #quote::before {
        content: '“';
        color: var(--accent-color);
        font-size: 2.4em;
    }
}

#description p {
    padding-left: 1ch;
    font-style: italic;
    color: var(--info-text-color);
    font-size: 0.8em;
}

#spacer {
    padding: 1em;
}

#wrapper {
    margin: 1em auto;
    max-width: 100ch;
    padding: 0 2em;
}

img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    margin: 0 auto 1em;
}

@media print {
    img { display: none; }
}

#recipe-image {
  cursor: pointer;
}

#recipe-image.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #292929e6;
  margin: 0;
  line-height: 100vh;
}

#recipe-image.lightbox img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;

  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
}
