/* these can all be overwritten by the config */

:root {
    /* Global variables */
    --base-text-color: #333;
    --base-text-size: 100%;
    --info-text-color: hsl(0, 0%, 35%);
    --font-stack: Charter, Optima, Georgia, serif;
    --base-line-height: 1.6;
    --background-color: white;

    --fast-transition-time: 0.1s;
    --slow-transition-time: 0.5s;

    /* Recipe specific variables */
    --accent-color: #2aa198;
    --large-text-toggle: 0;
}

